body {
  background-color: #efeee7;
font-family: 'Georgia', Times, Times New Roman, serif;
color: #333333;
margin:0;
padding:0;
font-size: 18px;
line-height: 150%;
background-image:url(psychics-sky.jpg);
}
header {
  text-align: center;
  padding: 20px;
  color:#ffffff;
  background: #4aaaa5;
  border: 2px solid #cccccc;
  height: 100px;
  margin-left:0px;
}
h1{
  color:#fff;
  font-size: 28px;
  text-align: center;
  padding:0;
  margin-bottom: 0;
  }
.crystals{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.crystal{
  border: 2px solid blue;
  height: 200px;
  width: 200px;
}
images{
  width: 50px;
  height: 50px;
}
  #footer{
    border: 2px solid black;
    color: orchid;
  background-color:orange;
    text-align: center;
    margin-top: 240px;
  }